<nav class="navbar navbar-expand-lg navbar-light py-4">
    <div class="container-fluid">
        <!-- Logo yerine site adı -->
        <a class="navbar-brand" href="#">
            <span style="font-size: 44px; font-weight: bold; color: black">WordMasterDB</span
			>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#nav_lc"
			aria-controls="nav_lc"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav_lc">
                <ul class="d-none d-lg-flex navbar-nav mx-auto my-3 my-lg-0 position-absolute top-50 start-50 translate-middle">
                    <li class="nav-item me-4">
                        <a class="nav-link" href="kelimelerim">Kelimelerim</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="yeni-kelime">Hızlı Ekle</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="custom-yeni-kelime">Kendin Ekle</a>
                    </li>
                </ul>
                <ul class="navbar-nav my-3 my-lg-0 d-lg-none">
                    <li class="nav-item me-4">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="yeni-kelime">Hızlı Ekle</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Testimonials</a>
                    </li>
                </ul>
                <div class="ms-lg-auto">
                    <a class="btn btn-outline-dark me-2" href="#">Sign In</a>
                    <a class="btn btn-warning" href="#">Sign Up</a>
                </div>
            </div>
    </div>
</nav>